#!/bin/bash

.run.init.gen() { cat > $1 << 'EOF'
#!/bin/bash
help() { echo "run, the minimalist's task runner - https://github.com/simpzan/run"; }
.tasks() { compgen -A function | grep -v "^\."; }
${@:-.tasks}
EOF
}
.run.init() {
  printf 'create Runfile? (Y/n)'; read answer
  test "$answer" = "n" && return
  .run.init.gen ./Runfile && chmod a+x $_
  echo "created Runfile."
}
.run.tasks() {
  echo "Tasks in Runfile:"
  ./Runfile | cat -n
}
run() {
  if [ -z $1 ]; then
    if test -f ./Runfile; then .run.tasks; else .run.init; fi
  elif [ "$1" = "-h" ]; then
    echo "run, the minimalist's task runner - https://github.com/simpzan/run"
  else
    TIMEFORMAT="Task '$1' completed in %3lR"
    time ./Runfile "$@"
  fi
}

.run.completion.complete() {
  test ! -f ./Runfile && return
  local prefix=${COMP_WORDS[$COMP_CWORD]}
  local function_names=`./Runfile`
  local result=`compgen -W "$function_names" "$prefix"`
  COMPREPLY=($result)
}
.run.completion.install() {
  test ! -z ${ZSH_VERSION+x} && autoload -U +X bashcompinit && bashcompinit
  complete -F .run.completion.complete run Runfile
}
.run.install.rc() {
  local rc=$1
  local cmd='test -f ~/.Runfile.rc && source $_'
  grep -E "$cmd" $rc >/dev/null 2>&1 || echo "$cmd" >> $rc
}
.run.install() {
  local selfPath=$0
  cp $selfPath ~/.Runfile.rc
  .run.install.rc ~/.bashrc
  .run.install.rc ~/.zshrc
  echo "run command installed, restart shell session to use it."
}
if [ "$0" = "$BASH_SOURCE" ]; then .run.install; else .run.completion.install; fi
