#!/bin/bash

run() {
  if [ -z $1 ]; then
    if [ -f ./Runfile ]; then .run.tasks;
    else .run.init; fi
  else
    TIMEFORMAT="Task '$1' completed in %3lR"
    time ./Runfile "$@"
  fi
}
.run.tasks() {
  echo "Tasks in Runfile:"
  ./Runfile | cat -n
}
.run.init.gen() { cat > $1 << 'EOF'
#!/bin/bash
hello() { echo "Hello from $0"; }
.tasks() { compgen -A function | grep -v "^\."; }
${@:-.tasks}
EOF
}
.run.init() {
  printf 'create Runfile? (Y/n)'; read answer
  if [ "$answer" = "n" ]; then return; fi
  .run.init.gen ./Runfile
  chmod a+x ./Runfile
  echo "created Runfile."
}
.run.install.rc() {
  local rc=$1
  local cmd='[ -f ~/.Runfile.rc ] && source ~/.Runfile.rc'
  grep -E "$cmd" $rc > /dev/null || echo "$cmd" >> $rc
}
.run.install() {
  local selfPath=$0
  cp $selfPath ~/.Runfile.rc
  .run.install.rc ~/.bashrc
  .run.install.rc ~/.zshrc
  echo "run command installed, restart shell session to use it."
}

.bash_completion.complete() {
  local prefix=${COMP_WORDS[$COMP_CWORD]}
  local function_names=`./Runfile`
  local result=`compgen -W "$function_names" "$prefix"`
  COMPREPLY=($result)
}
.bash_completion.install() {
  if [ ! -z ${ZSH_VERSION+x} ]; then
    autoload -U +X bashcompinit && bashcompinit
  fi
  complete -F .bash_completion.complete run Runfile
}


if [ "$0" = "$BASH_SOURCE" ]; then  # echo "run"
  .run.install
else  # echo "source"
  .bash_completion.install
fi
